<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Senators Attendance</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="./styles/styles.css">
        <!-- <script src="./json/pro-congress-113-senate.json"></script> -->
        <script src="./json/statistics.json"></script>
        <!-- <script src="./json/eeuu_states.json"></script> -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <div class="container senate" id="attendance">
            <header class="row">
                <div class="col-md-3">
                    <a href="./home.html"><img class="logo" src="./images/tgif_logo_h.jpg" height="100" width="300" alt="logo TGIF"></a>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3 align-self-center">
                    <img src="./images/mail_icon.png" alt="">
                    <a href="mailto:info@tgif.net">info@tgif.net</a>
                </div>
            </header>
            <nav>
            <div>
                <ul class="nav nav-tabs border border-dark py-0">
                    <li class="nav-item">
                        <a class="nav-link border border-0 rounded-0" href="./home.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle border border-0 rounded-0" data-toggle="dropdown" href="#">Congress 113</a>
                        <div class="dropdown-menu border border-dark rounded">
                            <a class="dropdown-item" href="./house-data.html">House</a>
                            <a class="dropdown-item" href="./senate-data.html">Senate</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle border border-0 rounded-0" data-toggle="dropdown" href="#">Attendance</a>
                        <div class="dropdown-menu border border-dark rounded">
                            <a class="dropdown-item" href="./house_attendance_statistics.html">House</a>
                            <a class="dropdown-item" href="#">Senate</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle border border-0 rounded-0" data-toggle="dropdown" href="#">Party Loyalty</a>
                        <div class="dropdown-menu border border-dark rounded">
                            <a class="dropdown-item" href="./house_party_loyalty_statistics.html">House</a>
                            <a class="dropdown-item" href="./senate_party_loyalty_statistics.html">Senate</a>
                        </div>
                    </li>
                </ul>
            </div>
            </nav>        


            <br><br>  
            <div id="app">
                <div class="row">
                    <div class="col-6">
                        <h4>Attendance</h4>
                        <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority is not present.</p>

                        <p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
                    </div>
        	    
                    <div class="col-6" >  
                        <h4>Senate at a glance</h4> 
                        <table class="table table-hover">
                            <thead class='thead-dark'>
                                <tr><th>Party</th>
                                <th>Number of Reps</th>
                                <th>% Voted with Prty</th>
                            </thead>
                            <tbody>
                                <!-- <template > -->
                                    <tr v-for="index in 4" :key="index">
                                        <td>{{estadisticas.parties[index-1]}}</td> 
                                        <td>{{estadisticas.number_of_senators[index-1]}}</td>
                                        <td>{{estadisticas.vwp_pct[index-1].toFixed(1)}} %</td>
                                    </tr>
                                <!-- </template> -->
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h4>Least Engaged (Bottom 10% Attendance)</h4>
                        <table class="table table-bordered">
                            <thead class='thead-dark'>
                                <tr>
                                    <th>Name</th>
                                    <th>Number of Missed Votes</th>
                                    <th>% Missed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="menor in estadisticas.least_engaged">
                                    <td>{{menor.last_name}}, {{menor.first_name}} {{menor.middle_name}}</td>
                                    <td>{{Math.round(menor.missed_votes)}}</td>
                                    <td>{{menor.missed_votes_pct.toFixed(2)}} %</td>
                                </tr>  
                            </tbody>
                        </table>
                    </div>

                    <div class="col-6">
                        <h4>Most Engaged (Top 10% Attendance)</h4>
                        <table class="table table-bordered">
                            <thead class='thead-dark'>
                                <tr>
                                    <th>Name</th>
                                    <th>Number of Missed Votes</th>
                                    <th>% Missed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="mayor in estadisticas.most_engaged">
                                    <td>{{mayor.last_name}}, {{mayor.first_name}} {{mayor.middle_name}}</td>
                                    <td>{{Math.round(mayor.missed_votes)}}</td>
                                    <td>{{mayor.missed_votes_pct.toFixed(2)}} %</td>
                                </tr>  
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 

            <footer class="page-footer font-small blue border border-dark py-3">
                <div class="footer-copyright text-center">© 2016 TGIF |
                    All Rights Reserved
                </div>
                  <!-- Copyright -->
                
            </footer>
        </div>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./scripts/TGIF_statistics.js"></script> 
    </body>
</html>